{{ partial "index_head.html" . }}
   {{ partial "header.html" .}}
    <div class="list-magazine list-fixed  bg-dark">
      <div class="container">
        <div class="row row-sm">
          <!-- edit by max start -->{{ range $i,$e := where .Site.RegularPages ".Params.plocation" "focus" }} {{ if eq $i 0 }}
          <div class="col-12 col-md-6 d-flex">
            <div class="list-item list-nice-overlay block flex-fill custom-hover">
              <div class="media d-flex flex-fill">
                <a href="{{.Permalink}}" class="media-content" style="background-image: url(&quot;{{ .Params.pbackground }}&quot;);" data-bg=" url('{{ .Params.pbackground }}')" data-nclazyload="true" data-was-processed="true">
                  <div class="overlay-grad"></div></a>
              </div>
              <div class="list-content">
                <div class="list-body">
                  <a href="{{.Permalink}}" class="list-title text-lg h-2x" target="_blank">{{ .Title}}</a></div>
              </div>
            </div>
          </div>{{ end }} {{ end }}
          <!-- edit by max end -->
          <div class="col-12 col-md-6 mt-2 mt-md-0">
            <div class="list-scroll-2x">
              <div class="row row-sm row-scroll my-n1 my-md-n2">
                <!-- edit by max start -->{{ range $i,$e := where .Site.RegularPages ".Params.plocation" "top_right_four" }} {{ if le $i 3 }}
                <div class="col-6 py-1 py-md-2">
                  <div class="list-item list-nice-overlay block custom-hover">
                    <div class="media">
                      <a href="{{.Permalink}}" class="media-content" style="background-image: url(&quot;{{ .Params.pbackground }}&quot;);" data-bg=" url('{{ .Params.pbackground }}')" data-nclazyload="true" data-was-processed="true"></a></div>
                    <div class="list-content">
                      <div class="list-body">
                        <div class="mt-auto">
                          <a href="{{.Permalink}}" class="list-title text-md h-2x ">{{ .Title}}</a></div>
                      </div>
                    </div>
                  </div>
                </div>{{ end }} {{ end }}
                <!-- edit by max end --></div></div>
          </div>
        </div>
      </div>
    </div>
    <main class="py-3 py-md-4 py-xl-5">
      <div class="container">
        <div class="list-pushes list-scroll-4x mb-3 mb-md-4 mb-xl-4">
          <div class="row row-sm my-md-n2">
            <!-- edit by max start -->{{ range .Sections }}
            <div class="col-4 col-md-2 py-md-2 ">
              <div class="list-item list-overlay block custom-hover">
                <div class="media media-3x2">
                  <a class="media-content" style="background-image: url(&quot;{{.Params.pbackground}}&quot;);" data-bg="url({{.Params.pbackground}})" data-nclazyload="true" data-was-processed="true">
                    <div class="overlay-1"></div></a>
                </div>
                <a href="{{.Page.Permalink}}" class="list-content p-1 p-md-2" target="_blank">
                  <div class="list-body align-items-center justify-content-center">
                    <div class="list-title h-1x text-sm">{{ .Params.title }}</div></div>
                </a>
              </div>
            </div>{{end}}
            <!-- edit by max end --></div></div>
        <div class="list-ajax-nav text-md-center mt-1 mt-md-0 mb-3 mb-md-4">
          <ul class="py-xl-1">
            <!-- <li class="item-ajax-nav d-inline-block active"> -->
            <li class="item-ajax-nav d-inline-block">
              <a href="javascript:" class="d-block" data-cid="-2.1">疯狂</a></li>
            <li class="item-ajax-nav d-inline-block">
              <a href="javascript:" class="d-block " data-cid="-1.0">热门</a></li>
            <li class="item-ajax-nav d-inline-block">
              <a href="javascript:" class="d-block " data-cid="2">放松</a></li>
            <li class="item-ajax-nav d-inline-block">
              <a href="javascript:" class="d-block " data-cid="4">数码</a></li>
            <li class="item-ajax-nav d-inline-block">
              <a href="javascript:" class="d-block " data-cid="5">旅行</a></li>
          </ul>
        </div>
        <div class="row row-sm list-home list-grouped list-bordered-padding my-n2">{{ range $i,$e := where .Site.RegularPages ".Params.plocation" "focus" }}
          <div class="col-6 col-md-3 d-flex py-2">
            <div class="list-item custom-hover">
              <div class="media media-16x9">
                <a class="media-content" href="{{.Permalink}}" title="{{ .Title }}" target="_blank" style="background-image: url(&quot;https://static.is26.com/uploads/2020/04/nyc-143-2.jpeg&quot;);" data-bg=" url('https://static.is26.com/uploads/2020/04/nyc-143-2.jpeg')" data-nclazyload="true" data-was-processed="true">
                  <span class="overlay"></span></a>
              </div>
              <div class="list-content">
                <div class="list-body">
                  <div class="d-none d-lg-block text-xs mb-1 ">
                    <a href="{{.Permalink}}" class="text-muted" target="_blank">{{.Params.categories}}</a></div>
                  <a href="{{.Permalink}}" title="{{ .Title }}" class="list-title text-md h-2x" target="_blank">{{ .Title }}</a></div>
                <div class="list-footer d-flex align-items-center text-muted mt-1 mt-lg-2">
                  <div class="text-xs">{{.Params.date}}</div>
                  <div class="flex-fill"></div>
                  <div class="text-xs text-nowrap">
                    <span class="d-inline-block d-md-inline-block   mr-1 mr-md-2">
                      <i class="text-md iconfont icon-view"></i>
                      <span class="d-inline-block align-middle">119</span></span>
                    <span class="d-none d-md-none ">
                      <i class="text-md iconfont icon-like-line"></i>
                      <span class="d-inline-block align-middle">0</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>{{end}}</div>
        <template class="card-skeleton card-skeleton-small"></template>
        <nav class="posts-ajax-load pagination-ajax justify-content-md-center row row-sm mt-3 mt-md-4 mt-xl-5 ">
          <div class="col-12 col-md-6">
            <div class="ajax-loading spinner-grow text-danger" role="status">
              <span class="sr-only">Loading...</span></div>
            <button data-page="home" data-query="" data-action="ajax_load_posts" data-paged="2" data-append="list-home" class="dposts-ajax-load btn btn-light btn-block">加载更多</button></div>
        </nav>
      </div>
    </main>
    <!-- edit by max start -->{{$tagindex := 0}} {{ range $taxonomy_term,$ca := .Site.Taxonomies.tags }} {{ if eq (mod $tagindex 3) 0}}
    <div class="list-index-left py-3 py-md-4 py-xl-5 bg-white">
      <div class="container">
        <div class="list-index-header mb-2 mb-md-3">
          <div class="h4">
            <a href="http://hihanyu.com/special/usa/" target="_blank">
              <span class="px-3">{{ .Page.Title }}</span></a>
          </div>
          <div class="text-sm text-muted mt-1 mt-md-0">{{ .Page.Title }}</div></div>
        <div class="row row-sm">{{$caindex := 0}} {{ range $ca }} {{ if eq $caindex 0}}
          <div class="col-12 col-md-3 d-flex mb-3 mb-md-0">
            <div class="list-item list-nice-overlay block flex-fill overlay-hover custom-hover">
              <div class="media media-3x2 d-flex flex-fill">
                <a class="media-content" href="{{.Permalink}}" style="background-image:url(&quot;{{.Params.pbackground}}&quot;)" data-bg=" url({{.Params.pbackground}})" data-nclazyload="true">
                  <div class="overlay-grad"></div></a>
              </div>
              <div class="list-content p-3 p-md-2 p-lg-3">
                <div class="list-body">
                  <a href="{{.Permalink}}" class="list-title h-2x">{{.Title}}</a></div>
              </div>
            </div>
          </div>{{end}} {{ $caindex = add $caindex 1}} {{end}}
          <div class="col-12 col-md-9">
            <div class="row row-sm my-n2">{{$cindex := 0}} {{ range $ca }} {{ if ne $cindex 0}}
              <div class="col-6 col-md-3 py-2">
                <div class="list-item list-nice-overlay block overlay-hover custom-hover">
                  <div class="media media-3x2">
                    <a class="media-content" href="{{.Permalink}}" title="去美国旅行，不要用一加的国际上网|  eSIM境外上网跳坑记 | VLOG28" style="background-image:url(&quot;{{.Params.pbackground}}&quot;)" data-bg=" url({{.Params.pbackground}})" data-nclazyload="true">
                      <div class="overlay-grad"></div></a>
                  </div>
                  <div class="list-content p-2">
                    <div class="list-body ">
                      <a href="{{.Permalink}}" class="list-title text-md h-2x">{{.Title}}</a></div>
                  </div>
                </div>
              </div>{{end}} {{ $cindex = add $cindex 1}} {{end}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- edit by max end -->{{end}} {{ if eq (mod $tagindex 3) 1}}
    <div class="list-index-md py-3 py-md-4 py-xl-5 bg-light">
      <div class="container">
        <div class="list-index-header mb-2 mb-md-3">
          <div class="h4">
            <a href="http://hihanyu.com/special/china/" target="_blank">
              <span class="px-3">{{ .Page.Title }}</span></a>
          </div>
          <div class="text-sm text-muted mt-1 mt-md-0">港澳台・西藏・杭州・苏州・青岛</div></div>
        <div class="row row-sm list-grouped list-bordered-padding my-n2">{{ range $ca }}
          <div class="col-6 col-md-3 d-flex py-2">
            <div class="list-item block overlay-hover custom-hover">
              <div class="media media-16x9">
                <a class="media-content" href="{{.Permalink}}" target="_blank" title="云南 | 东航周末随心飞，昆明玉溪两日行 | 抚仙湖 磨豆山" style="background-image:url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;)" data-bg=" url(https://static.is26.com/blog/2020/06/yunnan/y-37.JPG)" data-nclazyload="true">
                  <div class="overlay"></div></a>
              </div>
              <div class="list-content">
                <div class="list-body ">
                  <a href="{{.Permalink}}" target="_blank" class="list-title text-md h-2x">{{.Title}}</a></div>
                <div class="list-footer d-flex align-items-center text-muted mt-1 mt-md-2">
                  <div class="text-xs">1月前</div>
                  <div class="flex-fill"></div>
                  <div class="text-nowrap text-xs">
                    <span class="d-inline-block d-md-inline-block  mr-1 mr-md-2">
                      <i class="text-md iconfont icon-view"></i>
                      <span class="d-inline-block align-middle">2,296</span></span>
                    <span class="d-none d-md-none  mr-1 mr-md-2">
                      <i class="text-md iconfont icon-like-line"></i>
                      <span class="d-inline-block align-middle">20</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>{{end}}</div>
      </div>
    </div>{{end}} {{ if eq (mod $tagindex 3) 2}}
    <div class="list-index-right py-3 py-md-4 py-xl-5 bg-white">
      <div class="container">
        <div class="list-index-header mb-2 mb-md-3">
          <div class="h4">
            <a href="http://hihanyu.com/special/%e8%b7%91%e6%ad%a5/" target="_blank">
              <span class="px-3">{{ .Page.Title }}</span></a>
          </div>
          <div class="text-sm text-muted mt-1 mt-md-0">人生马拉松</div></div>
        <div class="row row-sm">
          <div class="col-12 col-md-9 order-1 order-md-1">
            <div class="row row-sm my-n2">{{$cadindex := 0}} {{ range $ca }} {{ if ne $cadindex (sub (len $ca) 1)}}
              <div class="col-6 col-md-3 py-2">
                <div class="list-item list-nice-overlay block overlay-hover overlay-hover custom-hover">
                  <div class="media media-3x2">
                    <a class="media-content" href="{{.Permalink}}" title="马拉松 | 2016深圳国际马拉松" style="background-image:url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;)" data-bg=" url(https://static.is26.com/blog/2016/12/shenzhen/ma20.jpg)" data-nclazyload="true">
                      <div class="overlay-grad"></div></a>
                  </div>
                  <div class="list-content p-2">
                    <div class="list-body ">
                      <a href="{{.Permalink}}" class="list-title text-md h-2x">{{ .Title }}</a></div>
                  </div>
                </div>
              </div>{{end}} {{ $cadindex = add $cadindex 1}} {{end}}</div>
          </div>
          <div class="col-12 col-md-3 d-flex order-2 order-md-2 mt-3 mt-md-0">{{$ccdindex := 0}} {{ range $ca }} {{ if eq $ccdindex 0}}
            <div class="list-item list-nice-overlay block flex-fill overlay-hover overlay-hover custom-hover">
              <div class="media media-3x2 d-flex flex-fill">
                <a href="{{.Permalink}}" class="media-content" style="background-image:url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;)" data-bg=" url(https://static.is26.com/blog/2016/12/shenzhen/ma20.jpg)" data-nclazyload="true">
                  <div class="overlay-grad"></div></a>
              </div>
              <div class="list-content p-3 p-md-2 p-lg-3">
                <div class="list-body">
                  <a href="{{.Permalink}}" class="list-title h-2x">{{ .Title }}</a></div>
              </div>
            </div>{{end}} {{ $ccdindex = add $ccdindex 1}} {{end}}</div>
        </div>
      </div>
    </div>{{end}} {{ $tagindex = add $tagindex 1}} {{ end }}
   {{ partial "footer.html" . }}
   {{ partial "index_foot.html" . }}
 