 
  <!DOCTYPE html>
<html lang="zh-CN" class="wf-exo-n4-inactive wf-iconfont2-n4-inactive wf-inactive">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" async="" src="/js/common/iDisqus.min.js"></script>
    <script type="text/javascript" async="" src="/js/common/webfont.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" />
    <meta name="keywords" content="韩宇,韩西瓜,科技,旅行,生活方式,程序员,互联网,自媒体,摄影师,编程,后端工程师,独立博客,文艺青年,HANYU,VLOG,Vlogger,YouTuber" />
    <meta name="description" content="我叫韩宇-韩西瓜,来自中国北京,毕业后一直做研发和管理工作,不呆板工程师典型,想做有趣的人,和有趣的的人做朋友" />
    <title>韩西瓜的电台 | 嘚瑟星人</title>
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="http://hihanyu.com" />
    <link rel="next" href="http://hihanyu.com" />
    <meta property="og:locale" content="zh_CN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="韩宇 - 韩西瓜,研发工程师,嘚瑟星人" />
    <meta property="og:url" content="http://hihanyu.com/" />
    <meta property="og:site_name" content="韩宇-韩西瓜,研发工程师,嘚瑟星人" />
    <meta property="og:image" content="https://s1.ax1x.com/2020/08/03/aU4kkD.th.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://s1.ax1x.com/2020/08/03/aU4kkD.th.jpg" />
    <script type="text/javascript" src="/js/common/alert.js"></script>
    <script async="" src="/js/common/analytics.js"></script>
    <script src="/js/common/hm.js"></script>
   <!-- <script type="application/ld+json" class="yoast-schema-graph">{
        "@context": "https://schema.org",
        "@graph": [{
          "@type": "WebSite",
          "@id": "http://hihanyu.com/#website",
          "url": "http://hihanyu.com/",
          "name": "\u7f57\u78ca\u7684\u72ec\u7acb\u535a\u5ba2",
          "description": "\u524d\u7aef\u5de5\u7a0b\u5e08\uff0cZUOLUOTV\u5236\u4f5c\u4eba",
          "potentialAction": [{
            "@type": "SearchAction",
            "target": "http://hihanyu.com/?s={search_term_string}",
            "query-input": "required name=search_term_string"
          }],
          "inLanguage": "zh-CN"
        },
        {
          "@type": "CollectionPage",
          "@id": "http://hihanyu.com/#webpage",
          "url": "http://hihanyu.com/",
          "name": "\u7f57\u78ca\u7684\u72ec\u7acb\u535a\u5ba2 - \u524d\u7aef\u5de5\u7a0b\u5e08\uff0cZUOLUOTV\u5236\u4f5c\u4eba",
          "isPartOf": {
            "@id": "http://hihanyu.com/#website"
          },
          "inLanguage": "zh-CN"
        }]
      }</script> -->
    <link rel="dns-prefetch" href="http://hihanyu.com/" />
    <link rel="dns-prefetch" href="https://qzonestyle.gtimg.cn/" />
    <link rel="dns-prefetch" href="https://s.w.org/" />
    <!-- <link rel="alternate" type="application/rss+xml" title="韩西瓜电台 &raquo; Feed" href="http://hihanyu.com/feed/" /> -->
    <!-- <script type="text/javascript">window._wpemojiSettings = {
        "baseUrl": "https:\/\/twemoji.maxcdn.com\/2\/72x72\/",
        "ext": ".png",
        "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/",
        "svgExt": ".svg",
        "source": {
          "concatemoji": "https:\/\/hihanyu.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.4.2"
        }
      };
      /*! This file is auto-generated */
      !
      function(e, a, t) {
        var r, n, o, i, p = a.createElement("canvas"),
        s = p.getContext && p.getContext("2d");
        function c(e, t) {
          var a = String.fromCharCode;
          s.clearRect(0, 0, p.width, p.height),
          s.fillText(a.apply(this, e), 0, 0);
          var r = p.toDataURL();
          return s.clearRect(0, 0, p.width, p.height),
          s.fillText(a.apply(this, t), 0, 0),
          r === p.toDataURL()
        }
        function l(e) {
          if (!s || !s.fillText) return ! 1;
          switch (s.textBaseline = "top", s.font = "600 32px Arial", e) {
          case "flag":
            return ! c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]));
          case "emoji":
            return ! c([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340])
          }
          return ! 1
        }
        function d(e) {
          var t = a.createElement("script");
          t.src = e,
          t.defer = t.type = "text/javascript",
          a.getElementsByTagName("head")[0].appendChild(t)
        }
        for (i = Array("flag", "emoji"), t.supports = {
          everything: !0,
          everythingExceptFlag: !0
        },
        o = 0; o < i.length; o++) t.supports[i[o]] = l(i[o]),
        t.supports.everything = t.supports.everything && t.supports[i[o]],
        "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]);
        t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag,
        t.DOMReady = !1,
        t.readyCallback = function() {
          t.DOMReady = !0
        },
        t.supports.everything || (n = function() {
          t.readyCallback()
        },
        a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange",
        function() {
          "complete" === a.readyState && t.readyCallback()
        })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji)))
      } (window, document, window._wpemojiSettings);</script> -->
    <!-- <script src="../max_files/wp-emoji-release.min.js" type="text/javascript" defer=""></script> -->
    <!-- <style type="text/css">img.wp-smiley, img.emoji { display: inline !important; border: none !important; box-shadow: none !important; height: 1em !important; width: 1em !important; margin: 0 .07em !important; vertical-align: -0.1em !important; background: none !important; padding: 0 !important; }</style> -->
    <link rel="stylesheet" id="wp-block-library-css" href="/css/common/style.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="smartideo_css-css" href="/css/common/smartideo.css" type="text/css" media="screen" />
    <link rel="stylesheet" id="jimu-css-css" href="/css/common/jimu.css" type="text/css" media="all" />
    <link rel="stylesheet" id="nicetheme-iconfont-css" href="/css/common/iconfont.css" type="text/css" media="all" />
    <link rel="stylesheet" id="nicetheme-nicetheme-css" href="/css/common/nicetheme.css" type="text/css" media="all" />
    <link rel="stylesheet" id="nicetheme-style-css" href="/css/common/style.css" type="text/css" media="all" />
    <script type="text/javascript">var globals = {
        "ajax_url": "https:\/\/hihanyu.com\/wp-admin\/admin-ajax.php",
        "url_theme": "https:\/\/hihanyu.com\/wp-content\/themes\/Cosy3.2.1",
        "site_url": "https:\/\/hihanyu.com",
        "post_id": "0",
        "comment_ip": "0",
        "allow_switch_darkmode": "0",
        "posts_per_page": "8"
      };
      var __cosy__ = {
        "load_more": "\u52a0\u8f7d\u66f4\u591a",
        "reached_the_end": "\u6ca1\u6709\u66f4\u591a\u5185\u5bb9",
        "thank_you": "\u8c22\u8c22\u70b9\u8d5e",
        "success": "\u64cd\u4f5c\u6210\u529f",
        "cancelled": "\u53d6\u6d88\u70b9\u8d5e"
      };
      var toc = {
        "tag": "0"
      };</script>
    <script type="text/javascript" src="/js/common/jquery.js"></script>
    <script type="text/javascript" src="/js/common/jquery-migrate.min.js"></script>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" />
    <style>[class$="woocommerce-product-gallery__trigger"] {visibility:hidden;}</style>
    

    <link rel="shortcut icon" href="https://static.is26.com/source/common/favicon.png" />


    <link href="https://static.is26.com/source/common/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://static.is26.com/source/common/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="https://static.is26.com/source/common/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="https://static.is26.com/source/common/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />

    <!-- <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?d60bcc77299990ec2461de1b0c126319 ";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBe
        fore(hm, s);
      })();</script>
    -->

    <link rel="icon" href="https://static.is26.com/uploads/2020/04/favicon.png" sizes="32x32" />
    <link rel="icon" href="https://static.is26.com/uploads/2020/04/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://static.is26.com/uploads/2020/04/favicon.png" />
    <meta name="msapplication-TileImage" content="https://static.is26.com/uploads/2020/04/favicon.png" />
    <link rel="stylesheet" href="/css/common/iDisqus.min.css" media="all" /></head>
     <body class="home blog wp-embed-responsive  nice-style-radius  nice-style-shadow  nice-style-border">

