<!DOCTYPE html>
<html lang="zh-CN">
	{{ partial "single_head.html" .}}
	<!-- <body class="archive category category-travel category-5 wp-embed-responsive
	nice-style-radius nice-style-shadow nice-style-border"> -->
	<body class="post-template-default single single-post postid-4575 single-format-image wp-embed-responsive  nice-style-radius  nice-style-shadow">
		{{ partial "single_header.html" .}}
		<div class="list-default-poster bg-dark pt-5 ">
			<div class="bg-effect bg-dark bg-color" style="background: linear-gradient(-10deg, rgb(29, 28, 45) 0%, rgb(92, 103, 130) 100%, rgb(135, 97, 116) 100%);">
			</div>
			<!-- ### -->
			<div class="d-flex flex-fill h-v-25 text-white">
				<div class="position-relative w-100 py-5 py-md-5 my-auto">
					<div class="container">
						<div class="h1 text-white text-center">
							{{ .Page.Title }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<main class="py-3 py-md-4 py-xl-5">
			<div class="container">
				<div class="row row-sm list-archive list-grouped list-bordered-padding">
				
					{{ $title := .Page.Title }}
				<!--	{  range .Site.RegularPages }
					{ $re :=  replace (print .Params.categories) "[" ""}
         			{ $re = replace (print $re) "]" ""}
         			{ if eq $title $re}
         		-->

         		{{ range  where .Site.RegularPages ".Params.categories" $title }}
					<div class="col-6 col-md-3 d-flex py-2">
						<div class="list-item custom-hover">
							<div class="media media-16x9">
								<a class="media-content" href="{{.Page.Permalink}}" title="{{ .Page.Title }}"
								target="_blank" style="background-image: url({{.Params.attendbg}});" data-bg=" url({{.Params.attendbg}})"
								data-nclazyload="true" data-was-processed="true">
									<span class="overlay">
									</span>
								</a>
								<div class="media-action">
									<span class="btn btn-icon btn-secondary btn-lg rounded-circle">
										<span>
											<i class="text-lg iconfont icon-picture1">
											</i>
										</span>
									</span>
								</div>
							</div>
							<div class="list-content">
								<div class="list-body">
									<a href="{{.Page.Permalink}}" title="{{ .Page.Title }}" class="list-title text-md h-2x"
									target="_blank">
										{{ .Page.Title }}
									</a>
								</div>
								<div class="list-footer d-flex align-items-center text-muted mt-1 mt-lg-2">
									<div class="text-xs">
										{{ .Date }}
									</div>
									<div class="flex-fill">
									</div>
									<div class="text-xs text-nowrap">
										<span class="d-inline-block d-md-inline-block mr-1 mr-md-2">
											<i class="text-md iconfont icon-view">
											</i>
											<span class="d-inline-block align-middle">
												<!-- 观看数量 -->
											</span>
										</span>
										<!-- <span class="d-none d-md-none "> <i class="text-md iconfont icon-like-line"></i> <span class="d-inline-block align-middle">32</span> </span>  -->
									</div>
								</div>
							</div>
						</div>
					</div>
					{{ end }} 	<!--{ end } -->
					<!-- <template class="card-skeleton card-skeleton-small"></template>  -->
				</div>
				<!-- <nav class="navigation pagination" role="navigation" aria-label="Posts
				Navigation">
				<h2 class="screen-reader-text">Posts Navigation</h2>  
				<div class="nav-links"> 
				<span aria-current="page" class="page-numbers current">1</span> 
				<a class="page-numbers" href="https://luolei.org/category/travel/page/2/">2</a> 
				<span class="page-numbers dots">…</span> 
				<a class="page-numbers" href="https://luolei.org/category/travel/page/6/">6</a> 
				<a class="next page-numbers" href="https://luolei.org/category/travel/page/2/"><i class="iconfont icon-youjiantou-2"></i></a> 
				</div>
				</nav> 
				-->
			</div>
		</main>
		{{ partial "single_footer.html" .}} {{ partial "single_side.html" .}}
		{{ partial "single_foot.html" .}}
	</body>

</html>