<!DOCTYPE html>
<html lang="zh-CN">{{ partial "single_head.html" .}}
  
  <body class="post-template-default single single-post postid-4575 single-format-image wp-embed-responsive  nice-style-radius  nice-style-shadow">{{ partial "single_header.html" .}}
    <div class="post-image-poster bg-dark pt-5 pb-4 py-md-4 py-xl-5">
      <div class="bg-effect bg-image-color" style="background: linear-gradient(to top, rgb(34, 31, 25) 10%, rgb(183, 132, 99) 200%);"></div>
      <div class="bg-effect bg-poster bg-image-cover" data-img="" style="background-image: url(&quot;&quot;);"></div>
      <div class="container">
        <div class="post-header text-center pt-4 pt-md-5">
          <h1 class="h3 mt-4 mt-md-5">{{ .Title }}</h1>
          <div class="post-meta d-flex align-items-center justify-content-center text-sm text-muted mt-3 mt-md-3">
            <div class="author-name author-popup">{{ .Params.author }}</div>
            <time class="date mx-2 mx-md-2">{{ .Params.date }}</time>
            <span class="d-none d-md-inline-block mx-md-2">
              <i class="">发布在</i>
              <a class="" href="#" rel="category tag" target="_blank">「{{ .Params.categories }}」</a></span>
            <!-- <span class="d-none d-md-inline-block mx-1 mx-md-2">
            <i class="text-md iconfont icon-view"></i>1,250</span>
            <span class="d-none d-md-inline-block mx-1 mx-md-2">
            <a href="#">
            <i class="text-md iconfont icon-Chat"></i>0</a></span>
            <span class="d-none d-md-inline-block mx-1 mx-md-2">
            <a class=" btn-action-like" href="javascript:;" data-action="like" data-id="4575">
            <i class="text-md iconfont icon-like-line"></i>
            <span class="like-count">26</span></a></span> -->
          </div>
        </div>
        <div class="media media-21x9 rounded mt-3 mt-md-4">
          <div class="media-content poster-zoom" style="background-image: url({{ .Params.attendbg }});" data-bg=" url({{ .Params.attendbg }})" data-nclazyload="true" data-was-processed="true"></div>
        </div>
      </div>
    </div>
    <main class="py-3 py-md-4 py-lg-5">
      <div class="container">
        <div class="row justify-content-lg-center">
          <div class="col-12 col-lg-10">
            <div class="post">
              <div class="post-content">
                <div class="nc-light-gallery">{{ .Content }}</div></div>
        
              <div id="post-action" class="post-action mt-3 mt-lg-5">
                <div class="hr-short"></div>
                      <div class="post-declare mt-3 mt-md-4">
                <p>本文是作者
                  <a href="#" title="{{ .Params.author }}" rel="author">「{{ .Params.author }}」</a>{{ $.Site.Data.text.contentTail }}</p></div>
                <div class="d-flex flex-fill align-items-center">
                  <!-- <div class="d-none d-md-block">
                    <a href="javascript:" data-action="like" data-id="4575" class="d-inline-block btn-action-like  mr-2 mr-md-3 mr-lg-4">
                      <i class="text-xl iconfont icon-like"></i>
                      <span class="like-count text-font align-middle">26</span></a>
                    <a href="javascript:;" id="btn-bigger-cover" class="d-inline-block " data-id="4575">
                      <i class="text-xl iconfont icon-picture1"></i>
                    </a>
                  </div> -->
                  <div class="flex-md-fill"></div>
                  <div id="scrollshare" class="post-social">
                    <a href="javascript: alert('Sorry ~ 分享功能在开发中哦')"  class="btn btn-light btn-icon btn-weibo btn-rounded btn-md m-1">
                      <span>
                        <i class="iconfont icon-weibo"></i>
                      </span>
                    </a>
                    <a href="javascript: alert('Sorry ~ 分享功能在开发中哦')" class1="btn btn-light btn-icon btn-weixin single-popup btn-rounded btn-md m-1" class="btn btn-light btn-icon btn-weixin  btn-rounded btn-md m-1"data-img="" data-title="微信扫一扫 分享朋友圈" data-desc="在微信内长按二维码">
                      <span>
                        <i class="iconfont icon-weixin1"></i>
                      </span>
                    </a>
                    <a href="javascript: alert('Sorry ~ 分享功能在开发中哦')"  class="btn btn-light btn-icon btn-qq btn-rounded btn-md m-1">
                      <span>
                        <i class="iconfont icon-qq"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="post-next-prev list-grouped row-sm my-n1 pt-5">{{ $ti :=.Title }} {{ range $i,$e :=.Site.RegularPages }} {{ if eq .Title $ti }}
                <div class="col-12 col-md-6 py-1">
                  <div class="list-item list-overlay block custom-hover overlay-hover">
                    <div class="media media-3x1">
                      <div class="media-content" style="background-image:url({{ .Params.attendbg }})" data-nclazyload="true">
                        <div class="overlay-1"></div></div>
                    </div>
                    <a href="{{ (index  .Site.RegularPages (sub $i 1)).Permalink }}" class="list-content p-3" title="{{ (index  .Site.RegularPages (sub $i 1)).Title }}">
                      <div class="list-body ">
                        <div class="list-title">
                          <div class="h-2x h6 text-white">{{ (index .Site.RegularPages (sub $i 1)).Title }}</div></div>
                      </div>
                      <div class="list-footer">
                        <div class="d-flex align-items-center flex-fill">
                          <div class="text-xs text-muted">上一篇</div>
                          <div class="flex-fill"></div>
                          <i class="text-md iconfont icon-xianghou"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-12 col-md-6 py-1">
                  <div class="list-item list-overlay block custom-hover overlay-hover">
                    <div class="media media-3x1">
                      <div class="media-content" style="background-image:url({{ .Params.attendbg }})" data-nclazyload="true">
                        <div class="overlay-1"></div>
                      </div>
                    </div>
                    <a href="{{ (index  .Site.RegularPages (add $i 1)).Permalink }}" class="list-content p-3" title="{{ (index  .Site.RegularPages (add $i 1)).Title }}">
                      <div class="list-body ">
                        <div class="list-title">
                          <div class="h-2x h6 text-white">{{ (index .Site.RegularPages (add $i 1)).Title }}</div></div>
                      </div>
                      <div class="list-footer">
                        <div class="d-flex align-items-center flex-fill">
                          <div class="text-xs text-muted">下一篇</div>
                          <div class="flex-fill"></div>
                          <i class="text-md iconfont icon-xianghou"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>{{ end }} {{ end }}</div>
            </div>
            <!-- <div id="comments" class="comments mt-5">
            <div class="h5 mb-4">
            <i class="text-xl text-primary iconfont icon-Chat4 mr-1"></i>
            <span class="d-inline-block align-middle">评论
            <small class="text-font text-sm">(0)</small></span></div>
            <div id="respond" class="comment-respond">
            <form method="post" action=" http://hihanyu.com/wp-comments-post.php" id="commentform" class="comment-form">
            <div class="d-flex w-100">
            <div class="comment-avatar-author flex-avatar w-48 mr-2">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="avatar w-48" data-src=" http://hihanyu.com/wp-content/themes/Cosy3.2.1-1/images/default-avatar.png" data-nclazyload="true"></div>
            <div class="flex-fill comment-from-author">
            <div class="comment-form-info">
            <div class="row row-sm mb-2 mb-lg-3">
            <div class="col py-1 py-lg-0">
            <div class="form-group comment-form-author m-0">
            <input class="form-control" id="author" placeholder="昵称" name="author" type="text" value="" required="required"></div></div>
            <div class="col-12 col-lg-4 py-1 py-lg-0">
            <div class="form-group comment-form-email m-0">
            <input id="email" class="form-control" name="email" placeholder="Email" type="email" value=""></div></div>
            <div class="col-12 col-lg-4 py-1 py-lg-0">
            <div class="form-group comment-form-url m-0">
            <input class="form-control" placeholder="网站地址" id="url" name="url" type="url" value=""></div></div></div>
            </div>
            <div class="comment-form-text">
            <div class="form-group comment-textarea mb-3">
            <textarea id="comment" name="comment" class="form-control form-control-sm" rows="3"></textarea></div>
            <div class="form-submit text-right">
            <a rel="nofollow" id="cancel-comment-reply-link" style="display: none" class="btn btn-light mr-2" href="javascript:;">再想想</a>
            <input name="submit" type="submit" id="submit" class="btn btn-primary " value="发布评论">
            <input type="hidden" name="comment_post_ID" value="4575" id="comment_post_ID">
            <input type="hidden" name="comment_parent" id="comment_parent" value="0"></div></div></div>
            </div>
            </form>
            </div>
            <ul class="comment-list"></ul></div>-->
          </div>
        </div>
      </div>
    </main>
    <!-- 手机屏幕下底栏 -->
    <!-- <div id="post-dock" class="post-dock bg-white py-2">
    <div class="container ">
    <div class="d-flex flex-row justify-content-around align-items-center h-100">
    <a class="py-2 d-inline-block" href=" http://hihanyu.com/blog/4575#comments">
    <i class="text-xl text-height-xs iconfont icon-Chat"></i></a>
    <a class=" btn-action-like py-2 d-inline-block" href="javascript:" data-action="like" data-id="4575">
    <i class="text-xl iconfont icon-like-line"></i>
    <span class="text-font badge badge-pill badge-danger like-count">26</span></a>
    <a class="py-2 d-inline-block" id="btn-bigger-cover" href="javascript:;" data-id="4575">
    <i class="text-xl text-height-xs iconfont icon-fenxiang-2"></i></a>
    </div>
    </div>
    </div>
    -->
    <div class="list-related list-scroll bg-light py-4 py-lg-5">
      <div class="container">
        <div class="h5 mb-3 mb-md-4">
          <i class="text-xl text-primary iconfont icon-gengxin mr-1"></i>
          <span class="d-inline-block align-middle">相关文章</span></div>
        <div class="list-scroll-x">
          <div class="row row-md list-grouped list-bordered-padding">{{ $cate := .Params.tags}} {{ range $ii,$ee :=.Site.RegularPages }} {{ if lt $ii  4}} {{ if eq .Params.tags $cate}}
            <div class="col-6 col-md-3 d-flex">
              <div class="list-item overlay-hover">
                <div class="media media-16x9">
                  <a href="{{ .Permalink }}" class="media-content" style="background-image:url({{ .Params.attendbg }})" data-nclazyload="true">
                    <div class="overlay"></div></a>
                </div>
                <div class="list-content">
                  <div class="list-body">
                    <a href="{{ .Permalink }}" title="{{ .Title }}" class="list-title text-md h-2x"> {{ .Title }}</a></div>
                </div>
              </div>
            </div>{{ end }} {{ end }} {{ end }}</div>
        </div>
      </div>
    </div>{{ partial "single_footer.html" .}} {{ partial "single_side.html" .}} {{ partial "single_foot.html" .}}</body>

</html>