<header class="header">
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <!-- / brand -->
      <a href="{{ .Site.Data.text.localUrl }}" rel="home" class="navbar-brand m-0 order-1">
        <img class="logo loaded" src="/img/logo.png" alt="韩西瓜的电台" data-src="/img/logo.png" data-nclazyload="true" data-was-processed="true" style="border-radius:8px">
        <img class="logo-night" src="/img/logo.png" alt="韩西瓜的电台" data-src="/img/logo.png" data-nclazyload="true" style="border-radius:8px" ></a>
      <!-- brand -->
      <ul class="nav main-submenu align-items-center flex-row flex-shrink-0 order-2 order-md-3">
        <li class="nav-item d-none d-lg-inline-block">
          <a href="javascript:" class="nice-tooltip-hide switch-dark-mode nav-link  text-lg" data-toggle="nicetooltip" data-placement="bottom" title="" data-original-title="夜晚模式">
            <i class="night iconfont icon-moon_circle"></i>
            <i class="light text-warning iconfont icon-moon_circle_fill"></i>
          </a>
        </li>
        <li class="nav-item">
        <a href="javascript: alert('Sorry ~ 搜索功能逐渐开发中')" class="nice-tooltip-hide nav-link search-popup text-lg" data-toggle="nicetooltip" data-placement="bottom" title="" data-original-title="搜索">
        <i class="d-block iconfont icon-search"></i></a>
        </li>
        <li class="nav-item d-lg-none">
        <a href="javascript: alert('Sorry ~ 搜索功能逐渐开发中')" id="mobile-sidebar-trigger" class="nav-link text-lg">
        <i class="d-block iconfont icon-menu"></i></a>
        </li>
        <li class="nav-item d-none d-lg-inline-block">
        <a href="javascript: alert('Sorry ~ 投稿功能逐渐开发中')" class="nav-link text-lg" data-toggle="nicetooltip" data-placement="bottom" title="" data-original-title="我要投稿">
        <i class="d-block iconfont icon-bianji"></i></a>
        </li>
      </ul>
        <div class="collapse navbar-collapse show navbar-scroll order-3 order-md-2 mx-md-4">
        <ul class="navbar-nav main-menu d-none d-lg-flex mr-auto px-4">
          <li id="menu-item-4885" class="current-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent  menu-item-4885">
            <a href="{{ .Site.Data.text.localUrl }}">HOME</a></li>
          <li id="menu-item-4909" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4909">
            <a href="javascript: alert('Sorry ~ Building')">HANYUTV™</a></li>
          <li id="menu-item-4884" class="current-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4884">
            <a>
              <span class="sub-menu-icon text-xs iconfont icon-caret-down "></span>SOCIAL</a>
            <ul class="sub-menu">
              <li id="menu-item-4919" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-4919">
                 <a href="javascript: alert('请关注：韩西瓜')">微信公众号</a>
                <a href="https://weibo.com/sohanyu">微博</a>
                <a href="javascript: alert('Sorry ~ Building')">Instagram</a>
                <a href="javascript: alert('Sorry ~ Building')">Twitter</a>
                <a href="javascript: alert('Sorry ~ Building')">Unsplash</a></li>
            </ul>
          </li>
          <li id="menu-item-4884" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4884">
            <a>
              <span class="sub-menu-icon text-xs iconfont icon-caret-down"></span>ABOUT</a>
            <ul class="sub-menu">
              <li id="menu-item-4919" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-4919">
                <a href="javascript: alert('Sorry ~ Building')">About Me</a>
                <a href="javascript: alert('Sorry ~ Building')">About Here</a></li>
            </ul>
          </li>
          <!-- <li id="menu-item-4909" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4909">
          <a href="#">全部</a></li> --></ul>
      </div>
    </div>
  </nav>
</header>